<fit-narrative *ngIf = "currentBodyComponent === 'gender'">
  Please help us understand your current body composition.
</fit-narrative>

<gender
(showNextBodyComponent) = "onNavigateBody($event)"
(sendGenderValue) = "setGenderValue($event)"
*ngIf = "currentBodyComponent === 'gender'">
</gender>

<dob
(showNextBodyComponent) = "onNavigateBody($event)"
(sendDobValue) = "setDobValue($event)"
*ngIf = "currentBodyComponent === 'dob'">
</dob>

<height
(showNextBodyComponent) = "onNavigateBody($event)"
(sendHeightValue) = "setHeightValue($event)"
*ngIf = "currentBodyComponent === 'height'">
</height>

<weight
(showNextBodyComponent) = "onNavigateBody($event)"
(sendWeightValue) = "setWeightValue($event)"
*ngIf = "currentBodyComponent === 'weight'"
[genderNext] = "bodyValues.gender">
</weight>

<fat-table
(showNextBodyComponent) = "onNavigateBody($event)"
*ngIf = "currentBodyComponent === 'fat-table'"
[gender] = "bodyValues.gender">
</fat-table>

<fat-male
(showNextBodyComponent) = "onNavigateBody($event)"
(sendFatValue) = "setFatValue($event)"
*ngIf = "currentBodyComponent === 'fat-male'">
</fat-male>

<fat-female
(showNextBodyComponent) = "onNavigateBody($event)"
(sendFatValue) = "setFatValue($event)"
*ngIf = "currentBodyComponent === 'fat-female'">
</fat-female>

<chronic
(showNextBodyComponent) = "onNavigateBody($event)"
(sendChronicValue) = "setChronicValue($event)"
*ngIf = "currentBodyComponent === 'chronic'">
</chronic>

<allergies
(showNextBodyComponent) = "onNavigateBody($event)"
(sendAllergiesValue) = "setAllergiesValue($event)"
*ngIf = "currentBodyComponent === 'allergies'">
</allergies>

<pains
(showNextBodyComponent) = "onNavigateBody($event)"
(sendPainsValue) = "setPainsValue($event)"
*ngIf = "currentBodyComponent === 'pains'">
</pains>

<button
class="nextButton" type="button" name="button"
(click)="nextClicked('energy-section')"
*ngIf = "currentBodyComponent === 'pains'">
  Next
</button>
