<p class="montsserat heading">The way I take in information is </p>

<!-- <div class="container">
  <label for="sensing" (click) = "nextClicked('situation')">
    <div [ngClass]="[(logical == 'sensing')?'checked':'unchecked']" class="radio-card smallRadio">
        <div class="icon">
            <img src="assets/icons/personality/extrovert@2x.png" alt="">
        </div>
        <p class="radioLabel">Extrovert</p>
    </div>
  </label>
  <input id = "extrovert" type="radio" value="extrovert" [(ngModel)] = "general">

  <label for="introvert" (click) = "nextClicked('logical')">
    <div [ngClass]="[(general == 'introvert')?'checked':'unchecked']" class="radio-card smallRadio">
        <div class="icon">
            <img src="assets/icons/personality/introvert@2x.png" alt="">
        </div>
        <p class="radioLabel">Introvert</p>
    </div>
  </label>
  <input id = "introvert" type="radio" value="introvert" [(ngModel)] = "general">
</div> -->

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <span><img style="width: 100%; height: auto;" src="assets/icons/personality/sensing@2x.png" alt=""></span>
        <p class="montsserat">Sensing focuses on the present: current events and facts </p>
      </div>
      <div style="float: right;" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <span><img style="width: 70%; height: auto;" src="assets/icons/personality/intuitive@2x.png" alt=""></span>
        <p class="montsserat">Intuitive(N) focuses on the future: new opportunities and ideas</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <input
      type="range" list="steplist"
      min="1" max="4" step="1"
      name="rating"
      [(ngModel)] = "logical">
        <datalist id="steplist">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </datalist>
    </div>
  </div>
</div>

<button class="nextButton" type="button" name="button" (click)="nextClicked('situation')">Next</button>
