<p class="montsserat heading">Generally my daily work requires me to</p>

<div class="container noPadding">
  <label (click)="nextClicked('bmr')" for="deskJob">
  <div [ngClass]="[(activeLevel == 1)?'checked':'unchecked']" class="radio-card smallRadio">
      <div >
          <img class="icon" src="assets/icons/body/stationed.svg" alt="">
      </div>
      <div class="radioLabel">Be stationed for most of the time</div>
  </div>
  </label>
  <input id="deskJob" type="radio" name="active" value="1" [(ngModel)] = "activeLevel">

  <label (click)="nextClicked('bmr')" for="standMove">
  <div [ngClass]="[(activeLevel == 2)?'checked':'unchecked']" class="radio-card smallRadio">
      <div >
          <img class="icon" style="height: 50%; width: auto;" src="assets/icons/body/stand-move.svg" alt="">
      </div>
      <div class="radioLabel">Stand or move a lot</div>
  </div>
  </label>
  <input id="standMove" type="radio" name="active" value="2" [(ngModel)] = "activeLevel">

  <label (click)="nextClicked('bmr')" for="demandingPhysical">
  <div [ngClass]="[(activeLevel == 3)?'checked':'unchecked']" class="radio-card smallRadio">
      <div >
          <img class="icon" src="assets/icons/body/physical.svg" alt="">
      </div>
      <div class="radioLabel">Do demanding physical activity</div>
  </div>
  </label>
  <input id="demandingPhysical" type="radio" name="active" value="3" [(ngModel)] = "activeLevel">

</div>
