.form-container {
  padding-top: 10vw;
  height: 100vh;
  background-color: #40a2e6;
}
.form-body {
  border-radius: 10px;
  padding-top: 50px;
  height: auto;
  background-color: #fff;
  padding-bottom:50px;
}
@media only screen and (max-width: 600px) {
  input {
    width: 90%;
  }
}

@media only screen and (min-width: 601px) {
  input {
    width: 66%;
  }
}
button {
  border-radius: 5px;
  width: auto;
  height: auto;
}
a {
  text-decoration: none;
  color: #40a2e6;
}
