<activities
(showNextActivityComponent) = "onNavigateActivity($event)"
(sendActivitiesValue) = "setActivitiesValue($event,
'activities')"
*ngIf = "currentActivityComponent === 'activities'">
</activities>

<weekly-hours
(showNextActivityComponent) = "onNavigateActivity($event)"
(sendWeeklyHoursValue) = "setActivitiesValue($event,
'weeklyHours')"
*ngIf = "currentActivityComponent === 'weekly-hours'">
</weekly-hours>

<get-started
(showNextActivityComponent) = "onNavigateActivity($event)"
(sendGetStartedValue) = "setActivitiesValue($event,
'getStarted')"
[activitiesAspiring] = "activitySectionValues.activities"
*ngIf = "currentActivityComponent === 'get-started'">
</get-started>

<fit-narrative *ngIf = "currentActivityComponent === 'next-section'">
   Awesome! We are almost done!<br><br>Every individual is unique and so is his/her journey to overall fitness.<br><br>To develop fun, engaging ﬁtness games for you, we would want to know a bit more about your lifestyle, personality, goals and motivations.
</fit-narrative>

<button class="nextButton" type="button" name="button" (click)="nextClicked('finish')"
*ngIf = "currentActivityComponent === 'next-section'">
  Next
</button>
