<p class="montsserat heading">I live</p>

<div class="container-fluid">
  <label (click)="nextClicked('aspirations')" for="alone">
    <div [ngClass]="[(liveWith == 'alone')?'checked':'unchecked']" class="radio-card smallRadio">
        <div>
            <img class="icon" style="height: 50%;" src="assets/icons/personality/alone.svg" alt="">
        </div>
        <p class="radioLabel">Alone</p>
    </div>
  </label>
  <input name="live-with" id = "alone" type="radio" value="alone" [(ngModel)] = "liveWith">

  <label (click)="nextClicked('aspirations')" for="friends">
    <div [ngClass]="[(liveWith == 'friends')?'checked':'unchecked']" class="radio-card smallRadio">
        <div>
            <img class="icon" src="assets/icons/personality/with-friends.svg" alt="">
        </div>
        <p class="radioLabel">With Friends</p>
    </div>
  </label>
  <input name="live-with" id = "friends" type="radio" value="friends" [(ngModel)] = "liveWith">

  <label (click)="nextClicked('aspirations')" for="family">
    <div [ngClass]="[(liveWith == 'family')?'checked':'unchecked']" class="radio-card smallRadio">
        <div>
            <img class="icon" src="assets/icons/personality/with-family.svg" alt="">
        </div>
        <p class="radioLabel">With Family</p>
    </div>
  </label>
  <input name="live-with" id = "family" type="radio" value="family" [(ngModel)] = "liveWith">

</div>
