<div class="container">
  <div class="row">
    <div style="text-align: left" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
      <p class="montsserat heading">I was born on</p>
      <span>
        <img style="width: 30px; margin-right: 20px"src="assets/icons/calendar.svg" alt="">
      </span>
      <input id="dob" class="inputField" type="date" name="dob"
      required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
      [(ngModel)] = "dob">
      <br><br>
      <h5 class="montsserat"> Your activity levels vary a lot with your age.</h5>
      <br>
      <button [disabled]="!dob" class="nextButton" type="button" (click) = "nextClicked('height')">Next</button>
    </div>
  </div>

</div>
