<!-- <p class="montsserat heading">And,</p>

<div class="container-fluid">

  <label class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12" for="extendedPeriods">
    <div [ngClass]="[(travel == 'For extended periods')?'checked':'unchecked']" class="radio-card withoutIcon">
        <p class="raleway">I live out of hotels for extended periods</p>
    </div>
  </label>
  <input id="extendedPeriods" type="radio" value="For extended periods" [(ngModel)] = "travel">

  <label class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12" for="weekdays">
    <div [ngClass]="[(travel == 'Weekdays')?'checked':'unchecked']" class="radio-card withoutIcon">
        <p class="raleway">I spend most of my weekdays in hotels/at client site</p>
    </div>
  </label>
  <input id="weekdays" type="radio" value="Weekdays" [(ngModel)] = "travel">

  <label class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12" for="onceAMonth">
    <div [ngClass]="[(travel == 'Once in a month for few days')?'checked':'unchecked']" class="radio-card withoutIcon">
        <p class="raleway">I travel once a month for a few days</p>
    </div>
  </label>
  <input id="onceAMonth" type="radio" value="Once in a month for few days" [(ngModel)] = "travel">

  <label class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12" for="inFewMonths">
    <div [ngClass]="[(travel == 'I travel in few months for few days')?'checked':'unchecked']" class="radio-card withoutIcon">
        <p class="raleway">I travel in a few months for a few days</p>
    </div>
  </label>
  <input id="inFewMonths" type="radio" value="I travel in few months for few days" [(ngModel)] = "travel">

</div>

<button class="nextButton" type="button" name="button" (click)="nextClicked('aspirations')">Next</button> -->
