<!-- Front Page -->
<div class="front">
  <div class="row">
    <div class="user-details col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <p class="montsserat fitness-label">Fitness Report</p><br>
      <p class="raleway user-name">Avinash</p>
    </div>
    <div class="label-image-div col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <img class="label-image" src="assets/pics/stacked-stones.jpg" alt="">
    </div>
  </div>
</div>

<!-- nutrition report -->

<div class="nutrition">
  <div class="row percentile-container">
    <div class="percentile col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <img class="percentile-background" src="assets/pics/nutrition.jpg">
      <p class="percentile-score montsserat">80%</p>
      <p class="raleway percentile-comment">of the people do not have better nutrition than you</p>
    </div>
    <div class="section col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <p class="montsserat section-heading">Nutrition</p>
      <p class="raleway section-facts">
        Eating a balanced diet is vital for good health and well-being. Food provides our bodies with the energy, protein, essential fats, vitamins and minerals to live, grow and function properly. We need a wide variety of different foods to provide the right amounts of nutrients for good health.<br>
        Smoking and Habitual Drinking are detrimental to our health and can cause cancer and cardiovascular diseases respectively.
      </p>
    </div>
  </div>
  <div class="row comments-container">
    <p class="montsserat comments-heading">Personal suggestions</p>
    <div class="comments">
      <ul>
        <li *ngFor="let suggestion of displaySuggestions.nutrition">
          {{suggestion}}
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- activities report -->
<div class="activity">
  <div class="row percentile-container">
    <div class="section col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <p class="montsserat section-heading">Activities</p>
      <p class="raleway section-facts">
        Physical activity or exercise can improve your health and reduce the risk of developing several diseases like type 2 diabetes, cancer and cardiovascular disease. Physical activity and exercise can have immediate and long-term health benefits. <br>Most importantly, regular activity can improve your quality of life. Go out, stretch your legs, run!!
      </p>
    </div>
    <div class="percentile col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <img class="percentile-background" src="assets/pics/activity.jpg">
      <p class="percentile-score montsserat">90%</p>
      <p class="raleway percentile-comment">of the people are not as active as you</p>
    </div>
  </div>
  <div class="row comments-container">
    <p class="montsserat comments-heading">Personal suggestions</p>
    <div class="comments">
      <ul>
        <li *ngFor="let suggestion of displaySuggestions.activity">
          {{suggestion}}
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- mind report -->
<div class="activity">
  <div class="row percentile-container">
    <div class="percentile col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <img class="percentile-background" src="assets/pics/mind.jpg">
      <p class="percentile-score montsserat">75%</p>
      <p class="raleway percentile-comment">of the people are not as mentally-fit as you</p>
    </div>
    <div class="section col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <p class="montsserat section-heading">Mind</p>
      <p class="raleway section-facts">
        Sleep makes you feel better. Adequate sleep is a key part of a healthy lifestyle, and can benefit your heart, weight, mind, and more.<br>Reducing stress in your everyday life is vital for maintaining your overall health, as it can improve your mood, boost immune function, promote longevity and allow you to be more productive.<br>Meditation can help us to eliminate negative thoughts, worries, anxiety, all factors that can prevent us feeling happy.
      </p>
    </div>
  </div>
  <div class="row comments-container">
    <p class="montsserat comments-heading">Personal suggestions</p>
    <div class="comments">
      <ul>
        <li *ngFor="let suggestion of displaySuggestions.mind">
          {{suggestion}}
        </li>
      </ul>
    </div>
  </div>
</div>
